@*можно лучше: лучший комментарий*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RockPaperScissors_Core.Figure;
@using RockPaperScissors_Core;


<h2>Привет! Сыграем?</h2>
<h3>Выбери фигуру, которой хочешь играть</h3>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Game"
       asp-action="Won" asp-route-name="">Камень</a>
</div>
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Game"
       asp-action="Drow">Ножницы</a>
</div>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Game"
       asp-action="Victory">Бумага</a>
</div>

