@{
}

<h2>Привет! Сыграем?</h2>
<h3>Выбери фигуру, которой хочешь играть</h3>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Rock"
       asp-action="Go">Камень</a>
</div>
<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Scissors"
       asp-action="Go">Ножницы</a>
</div>

<div class="row justify-content-end">
    <a class="btn btn-primary" asp-controller="Paper"
       asp-action="Go">Бумага</a>
</div>
